.wrap {
  width: 1200px;
  margin: 0 auto;
}

@keyframes zeroToOne {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes colorChange {
  from {
    color: #F3F9FF;
  }

  to {
    color: #104E8C;
  }
}

/* 头部标题 */
header {
  background-color: #104E8C;
  height: 112px;
}

.wrapBox {
  height: 100%;

}

.logo {
  width: 800px;
  height: 100%;
  position: relative;
}

.logo>a>img {
  display: block;
  height: 72px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.logo> a{
  display: block;
  height: 100%;
}
.islogin {
  width: 120px;
  height: 100%;
  text-align: right;
  position: relative;
}

.islogin>button {
  width: 110px;
  height: 46px;
  border: 1px solid #FFF;
  line-height: 46px;
  text-align: center;
  color: #FFF;
  font-size: 24px;
  background-color: #104E8C;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);

}

/* 内容区 个人信息 */
.Title {
  margin-top: 58px;
  height: 212px;
}

.personalInfo {
  width: 320px;
  height: -moz-calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  height: calc(100% - 60px);
  box-shadow: 0px 10px 25px 0px rgba(16, 78, 140, 0.07);
  border-radius: 4px;
  padding: 30px;
  padding-right: 0;
}

.profilePhoto {
  width: 88px;
  height: 112px;

}
.profilePhoto>img {
  display: block;
  width:100%;
}
.PerContent {
  height: 112px;
  /* background-color: #654321; */
  width: 180px;
}
.PerContent>p {
  display: block;
  font-size:16px;
  margin-bottom: 12px;
}
.oterhInfo {
  margin-top: 24px;
  width: 180px;
  text-align: left;
  margin-right: 30px;
}

.oterhInfo>a {
  transition: 2s linear;
  font-size:16px;
  color: #104E8C;
}

.oterhInfo>a:hover {
  animation: zeroToOne 2s infinite;
  cursor: pointer;
}

/* 门户系统 */
.PortalSys {
  width: 730px;
  height: -moz-calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  height: calc(100% - 60px);
  box-shadow: 0px 10px 25px 0px rgba(16, 78, 140, 0.07);
  border-radius: 4px;
  padding: 30px;
}

.PortalSys .headLine {
  width: 100px;
  height: 48px;
  border-bottom: 1px solid rgba(240, 240, 240, 1);
}

.PortalSys .headLine>span {
  font-size: 18px;
  color: #104E8C;
}

.PortalSubHeadTitle {
  margin-top: 30px;
  height: 62px;
}

.PortalSubHeadTitle>span {
  display: inline-block;
  width: 160px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 16px;
  color: #104E8C;
  background-color: #F3F9FF;
  margin-right: 24px;
}

.PortalSubHeadTitle>span:nth-child(4n) {
  margin-right: 0;
}

.PortalSubHeadTitle>span:hover {
  animation: colorChange 2s linear;
  cursor: pointer;
}

/* 通知公告 */
.Announcement {
  position: relative;
  margin-top: 60px;
}

.AnnHeader {
  height: 50px;
}

.AnnTitle {
  width: 500px;
}

.AnnTitle>i {
  display: inline-block;
  width: 6px;
  height: 20px;
  background-color: #104E8C;
  margin-right: 14px;
  transform: translateY(2px)
}

.AnnTitle>h4 {
  display: inline-block;
  width: 300px;
  font-size: 20px;
  color: #165B9F;
}

.AnnMore {
  font-size: 16px;
  color: #165B9F;
}
.AnnMore a {
  font-size: 16px;
  color: #165B9F;
}
.AnnMore>span>a:hover {
  animation: colorChange 2s linear;
  cursor: pointer;
}

.AnnContent>ul>li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 12px;
  float: left;
  display: block;
  width: 300px;
  height: 252px;
  border: 1px solid #F0F0F0;
  border-right: 0;
  overflow: hidden;
  text-align: center;
}

.AnnContent>ul>li:nth-child(4n) {
  border: 1px solid #F0F0F0;
}

.AnnContent>ul>li>a>img {
  display: block;
  width: 275px;
  height: 179px;
  transition: .2s linear;
}
.AnnContent>ul>li>a>span {
  display: block;
  height: 40px;
  line-height: 60px;
}
.AnnContent>ul>li:hover img {
  transform: scale(1.1);
  cursor: pointer;
  
}
.AnnContent>ul>li>span {
  display: block;
  padding-top: 20px;
  width: 275px;
  margin: 0 auto;
  font-size: 16px;
  color: #222222;
}

/* 失物招领 */
.Lost {
  margin-top: 60px;
}

.LostContent>ul>li {
  float: left;
  display: block;
  width: 585px;
  height: 120px;
  background-color: #F5F9FD;
  margin-right: 30px;
  margin-bottom: 30px;
}

.LostContent>ul>li:nth-child(2n) {
  margin-right: 0;
}

.LostContent>ul>li>.LostHeader {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 48px;
  border-bottom: 1px solid #EAEAEA;
  padding: 15px;
  color: #666;
  font-size: 16px;
}

.LostContent>ul>li>.LostContent {
  padding: 16px;
  font-size: 16px;
  color: #222;
}

/* 我要发帖 */
.w-e-text-container {
  height: 120px !important;
  /*!important是重点，因为原div是行内样式设置的高度300px*/
}

#personalEditor .personalEditorContent {
  color: #666;
  font-size: 16px;
}

.PostAMessage {
  height: 80px;
  margin-top: 30px;
  
}

.PostAMessage>button {
  height: 72px;
  width: 160px;
  line-height: 72px;
  text-align: center;
  color: #104E8C;
  font-size: 20px;
  background: rgba(240, 240, 240, 1);
  border-radius: 8px;
  transition: 2s linear;
}
.PostAMessage>button:hover {
  font-size:24px;
}

/* 友情链接 */
.friendlyLink {
  border-top: 1px solid #CCC;
  padding-top: 12px;
  height: 20px;
  margin-top: 120px;
}

.friendlyLink>ul>li {
  float: left;
  color:#AAA;
  font-size:14px;
  margin-left: 12px;
}
.friendlyLink>ul>li:first-child {
  float: left;
  color:#AAA;
  font-size:14px;
  margin-left: 0;
}
.friendlyLink>ul>li>a{
  font-size: 14px;
  color:#AAA;
  transition: 1s linear;
}
.friendlyLink>ul>li>a:hover {
  color:#222;
}
/* 回到顶部小标题设置 */
.leftBars {
  right: 50px;
  bottom: 20px;
}

.mod-sidebar {
  display: block;
  width: 60px;
  position: fixed;
  z-index: 9998;
}

.mod-sidebar li {
  width: 60px;
  height: 48px;
  background-color: #165B9F;
  margin-bottom: 1px;
  position: relative;
  border: 1px solid #165B9F;
}

.mod-sidebar li a {
  color: #fff;
}

.sideMenu2 {
  width: 60px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  display: block;
  text-align: center;
  margin: 0 auto;
  background: url("");
  
}