@charset "utf-8";

body {
  min-width: 1250px;
}

/*tab切换样式*/
.tab_active {
  /* background: linear-gradient(#CAE5FF, #fff) */
  background: url(../img/line_1.png) repeat;
}

/*工具类名*/
.lsyg_fl {
  float: left;
}

.lsyg_rl {
  float: right;
}

.content_item_active {
  display: block !important;
}

.item_sel_active {
  background-color: #fff;
}

.menu_lsyg_wrap {
  width: 1200px;
}

.sub_tab {
  background-color: #165B9F !important;
  color: #FFF !important;
}
.mt12 {
  margin-top: 12px;
}
.btnColor {
  background-color: #165B9F;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #165B9F;
}
#CommentDetails {
  text-align: center;
}
/*banner 高度*/
.menu_lsyg .banner {
  height: 520px;
  line-height: 520px;
  text-align: center;
  background: url("../img/banner2.png")
}

/* tab栏选项 */
.menu_lsyg .content {
  margin: 0 auto;
   min-height:760px;
}

.menu_lsyg .title {
  height: 50px;
  border-bottom: 1px dashed #AAAAAA;
  text-align: center;
}

.menu_lsyg .title ul {
  display: block;
  height: 40px;
}

.menu_lsyg .title li {
  display: block;
  height: 40px;
  line-height: 40px;
  float: left;
  min-width: 84px;
  font-size: 16px;
  text-align: center;
}

/*tab栏内容_历史沿革*/
.menu_lsyg .content_item {
  min-height: 500px;
  padding-top: 20px;
  position: relative;

}

.menu_lsyg .content_item .item {
  min-height: 380px;
  display: none;
}

.menu_lsyg .content_item .item_title {
  height: 20px;

}

.menu_lsyg .content_item .item_title span {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  border-left: 4px solid #165B9F;
  padding-left: 15px;
}

.menu_lsyg .content_item .item .item_sel {
  background: #E6F2FC;
  margin-top: 52px;
  position: relative;
  height: 40px;
  padding: 4px 72px 0;
}

.menu_lsyg .content_item .item .item_sel ul {
  display: block;

}

.menu_lsyg .content_item .item .item_sel li {
  float: left;
  display: block;
  text-align: center;
  width: 80px;
  height: 36px;
  line-height: 36px;
}

.menu_lsyg .content_item .item .item_sel>div {
  position: absolute;
  height: 36px;
  width: 36px;
  background-color: #fff;
  line-height: 36px;
  text-align: center;

}

.menu_lsyg .content_item .item .item_sel .left_arrow {
  left: 15px;
  bottom: 3px;
  color: #165B9F;
  font-size: 24px;


}

.menu_lsyg .content_item .item .item_sel .right_arrow {
  right: 15px;
  bottom: 3px;
  color: #165B9F;
  font-size: 24px;

}

.menu_lsyg .content_item .item .item_context {
  margin-top: 40px;
}

.menu_lsyg .content_item .item .item_context .context_item {
  display: none;
}

.menu_lsyg .content_item .item .item_context .context_item .lsyg_rl {
  width: 825px;
}

.menu_lsyg .content_item .item .item_context .context_item .lsyg_rl>h2 {
  font-size: 24px;
  color: #165B9F;
}

.menu_lsyg .content_item .item .item_context .context_item .lsyg_rl>span {
  display: block;
  font-size: 14px;
  color: #000;
  margin-top: 40px;
  line-height: 30px;
}

.menu_lsyg .content_item .item .item_context .context_item .lsyg_fl {
  width: 324px;
  height: 220px;
  background: url('../../img/web_1.png') center no-repeat;
  background-size: 100% 100%;

}

/*tab栏内容_院情统计_发展定位*/
.menu_lsyg .content_item .item .item_article {
  margin-top: 40px;
  font-size: 14px;
  height: 435px;
  color: #5E6267;
}

.menu_lsyg .content_item .item .item_article p {
  margin-bottom: 30px;
}

/*
  tab栏内容_组织机构
*/
.menu_lsyg .content_item .item .left_menu {
  width: 190px;
  height: 390px;
  /* background: linear-gradient(#CAE5FF, #fff);*/
  background: url(../img/line_2.png) repeat-x;
  font-weight: blod;
  padding: 25px;
}

.menu_lsyg .content_item .item .left_menu span {
  display: block;
  height: 65px;
  line-height: 65px;
  font-size: 20px;
  color: #165B9F;
  border-bottom: 1px dashed #AAAAAA;

}

.menu_lsyg .content_item .item .left_menu ul>li {
  display: block;
  height: 35px;
  padding: 15px 0;
  color: #222;
  font-weight: 400;
  font-size: 18px;
}

/*
*右侧展示栏
*/
.menu_lsyg .content_item .item .item_zzjg_sub {
  width: 860px;
  min-height: 440px;
  padding: 0 10px;
  margin-bottom: 24px;
  background: url(../img/line_3.png) repeat-x;
}

.menu_lsyg .content_item .item .item_zzjg_sub .zzjg_sub {
  display: none;
}

/* .sszs_sub_a_detailPage {
  display: none;
} */
/* 统一修改右侧显示样式 */
/* 头部面包屑导航 */
#login_admin_Page_section .zzjg_sub {
  min-height: 600px;
}

#login_admin_Page_section .bn {
  height: 18px;
  padding: 20px 0;
  border-bottom: 1px dashed #FFF;
}

#login_admin_Page_section .bn h2 {
  font-size: 18px;
  color: #165B9F;
}

#login_admin_Page_section .bn span {
  font-size: 14px;
  color: #222;
}

/* 内容容器  tab切换菜单样式*/
#login_admin_Page_section .right_view {
  min-height: 40px;
  background-color: #fff;
  margin-top: 20px;
  padding: 24px 10px 0;
}

#login_admin_Page_section .right_view>.sub_title ul {
  display: block;
  width: 880px;
}

#login_admin_Page_section .right_view>.sub_title li {
  margin-right: 24px;
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #222;
  background-color: #F5F5F5;
  border: 0;
}

#login_admin_Page_section .right_view>.sub_title li:hover {
  background-color: #165B9F;
  color: #FFF;
}

#login_admin_Page_section .right_view>.sub_title li:last-child {
  margin: 0;
}

#login_admin_Page_section .right_view>.sub_content .sub_info_mange {
  display: block;
  background-color: #F2F9FF;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #222;
  padding-left: 24px;
  padding-right: 24px;
}

#login_admin_Page_section #xssw_sub_a .right_view>.sub_content .sub_info_mange {
  width: 786px;
}

#login_admin_Page_section #jyxx_sub_b .right_view>.sub_content .sub_info_mange {
  width: 786px;
}

#login_admin_Page_section #jyxx_sub_c .right_view>.sub_content .sub_info_mange {
  width: 786px;
}

#login_admin_Page_section .right_view>.sub_content .sub_detail_content {
  height: 100%;
}
#login_admin_Page_section .right_view>.sub_content .sub_detail_content p img {
  max-width: 830px;
}
/* 详情页样式 */
#login_admin_Page_section .right_view>.sub_content .sub_detail_content h3 {
  font-size: 18px;
  color: #222;
  margin-bottom: 12px;
}

#login_admin_Page_section .right_view>.sub_content .sub_detail_content .sub_date {
  font-size: 14px;
  color: #AAA;
  margin-bottom: 39px;
}

#login_admin_Page_section .right_view>.sub_content .sub_detail_content p {
  font-size: 14px;
  color: #222;

}

#login_admin_Page_section .right_view>.sub_content .sub_info_mange:hover {
  cursor: pointer;
}

#login_admin_Page_section .right_view>.sub_content .sub_info_mange span {
  float: left;
}

#login_admin_Page_section .right_view>.sub_content .sub_info_mange i {
  float: right;
  font-style: normal;
}

#login_admin_Page_section .right_view>.sub_content .sub_info_mange:nth-child(2n) {
  background-color: #E2F1FF;
}

/* 个别图片详情页的样式 学习学术——————各种风采 */
#login_admin_Page_section .right_view>.sub_content_img_style>ul>li {
  width: 390px;
  height: 220px;
  float: left;
  text-align: center;
  background-color: #CEE7FF;
  margin-bottom: 20px;
}

#login_admin_Page_section .right_view>.sub_content_img_style>ul>li:nth-child(odd) {
  margin-right: 60px;
}

#login_admin_Page_section .right_view>.sub_content_img_style span {
  font-size: 14px;
  color: #222;
}

/* 导师风采 */
#login_admin_Page_section #xxxj_sub_c .right_view>.sub_content_img_style .img {

  height: 200px;
  background: url("../img/infor_8.png") no-repeat center;
}

/* 学生风采 */
#login_admin_Page_section #xxxj_sub_d .right_view>.sub_content_img_style .img {

  height: 200px;
  background: url("../img/infor_5.png") no-repeat center;
}

/* 校园风采 */
#login_admin_Page_section #xxxj_sub_e .right_view>.sub_content_img_style .img {

  height: 200px;
  background: url("../img/infor_3.png") no-repeat center;
}

/* 文献资源 */
#login_admin_Page_section .right_view>.sub_content_wxzy>ul>li {
  float: left;
  margin-right: 50px;
}

#login_admin_Page_section .right_view>.sub_content_wxzy>ul>li:nth-child(3n) {
  margin-right: 0;
}

#login_admin_Page_section .right_view>.sub_content_wxzy>ul>li>a {
  display: block;
  width: 200px;
  height: 20px;

}

/* 评奖评优通知 */
#xssw_sub_a .sub_title {
  width: 500px;
  height: 100px;
}

#xssw_sub_a .sub_content {
  display: none;
}

#xssw_sub_a .sub_title li {
  float: left;
}

#jyxx_sub_b .sub_title li {
  float: left;
}

#jyxx_sub_b .sub_content {
  display: none;
}

#jyxx_sub_b .sub_title {
  width: 500px;
  height: 100px;
}

#jyxx_sub_c .sub_title li {
  float: left;
}

#jyxx_sub_c .sub_content {
  display: none;
}

#jyxx_sub_c .sub_title {
  width: 500px;
  height: 100px;
}

#ywbl_sub_d .right_view .sub_content li,
#ywbl_sub_c .right_view .sub_content li,
#ywbl_sub_b .right_view .sub_content li,
#ywbl_sub_a .right_view .sub_content li {
  display: block;
  float: left;
  width: 256px;
  height: 223px;
  text-align: center;
  margin: 12px;
  cursor: pointer;
}
#ywbl_sub_d .right_view .sub_content li img,
#ywbl_sub_c .right_view .sub_content li img,
#ywbl_sub_b .right_view .sub_content li img,
#ywbl_sub_a .right_view .sub_content li img{
  display: block;
  width: 256px;
  height: 183px;
}
#ywbl_sub_d .right_view .sub_content li a,
#ywbl_sub_c .right_view .sub_content li a,
#ywbl_sub_b .right_view .sub_content li a,
#ywbl_sub_a .right_view .sub_content li a{
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  color:#222;

}
#ywbl_sub_d .right_view .sub_content li a:hover,
#ywbl_sub_c .right_view .sub_content li a:hover,
#ywbl_sub_b .right_view .sub_content li a:hover,
#ywbl_sub_a .right_view .sub_content li a:hover{
  color:#165BFA;

}
/* 评论内容 */
.LostContent>ul>li {
  float: left;
  display: block;
  width: 840px;
  height: 120px;
  background-color: #F5F9FD;
  margin-bottom: 40px;
}


.LostContent>ul>li>.LostHeader {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 48px;
  border-bottom: 1px solid #EAEAEA;
  padding: 15px;
  color: #666;
  font-size: 16px;
}

.LostContent>ul>li>.LostContent {
  padding: 16px;
  font-size: 16px;
  color: #222;
}
/* 回帖评论 */
.totalCommentTitle {
  height: 32px;
  border-bottom: 1px solid #CBD2DA;
}
.totalCommentTitle>h4 {
  font-size:20px;
  color:#222;

}

/* 第一层评论 */
.CommentDetail {
  margin-bottom: 24px;
}
.CommentDetail>h5 {
  font-size: 16px;
  color:#222;
  margin-top: 30px;
}
.CommentDetail>span {
  display: block;
  margin-top: 12px;
  font-size:14px;
  color:#666;
}
/* 第二层评论 */
.subCommit {
  min-height: 0;
  background-color:#F3F9FE;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px 12px;
}
.subCommit>ul>li {
  margin-bottom: 12px;
}
.subCommitDetail>i {
  color:#222;
  font-size:14px;
}
.subCommitDetail>span {
  color:#666;
  font-size:14px;
}
.subCommitDetailReplay {
  padding: 0 8px;
}
.subCommitTime {
  color:#888;
}
.subCommitTime>button {
  padding-right: 12px;
  outline: none;
  border: none;
  background-color: #F3F9FE;
}
.subCommitTime>button:hover {
  color: #104E8C;
  cursor: pointer;
}
.subViewMore {
  color:#888;
  font-size:14px;
  text-align: left;
  padding-top: 12px;
}
.subViewMore>span:hover {
  color: #104E8C;
  cursor: pointer;
}
/* 第一层评论 时间回复设置 */
.CommentTime {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 24px;
  font-size:14px;
  color:#888;
}
.CommentTime>button {
  padding-right: 12px;
  outline: none;
  border: none;
  background-color: #FFF;
}
.CommentTime>button:hover {
  color: #104E8C;
}
.ViewMore {
  background-color: #F5F9FD;
  height: 48px;
  line-height: 48px;
  font-size:16px;
  color:#888;
  margin-top: 24px;
  text-align: center;
  margin-bottom: 24px;
}
.ViewMore>a>span:hover {
  color: #104E8C;
  cursor: pointer;
}
/* 回帖样式 */
.w-e-text-container {
  height: 120px !important;
  /*!important是重点，因为原div是行内样式设置的高度300px*/
}
#CommentEditor {
  margin-top: 34px;
}
#CommentEditor .CommentEditorContent {
  color: #666;
  font-size: 16px;
}

.reply {
  height: 80px;
  margin-top: 30px;
  
}

.reply>button {
  height: 72px;
  width: 160px;
  line-height: 72px;
  text-align: center;
  color: #104E8C;
  font-size: 20px;
  background: rgba(240, 240, 240, 1);
  border-radius: 8px;
  transition: 2s linear;
}
/* 回到顶部小标题设置 */
.leftBars {
  right: 50px;
  bottom: 20px;
}

.mod-sidebar {
  display: block;
  width: 60px;
  position: fixed;
  z-index: 9998;
}

.mod-sidebar li {
  width: 60px;
  height: 48px;
  background-color: #165B9F;
  margin-bottom: 1px;
  position: relative;
  border: 1px solid #165B9F;
}

.mod-sidebar li a {
  color: #fff;
}

.sideMenu2 {
  width: 60px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  display: block;
  text-align: center;
  margin: 0 auto;
  background: url("");
  
}
/*
清除浮动
*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}