@charset "utf-8";
/* 表格样式 */
table {
  margin-top: 60px;
}
table>thead>tr>th {
  height: 60px;
  font-size: 20px;
  color:#222;
}
table>tbody>tr>td{
  box-sizing: border-box;
  padding: 5px 5px;
  width: 200px;
  height: 24px;
  font-size:14px;
  color:#222;
}
.personelContent{
  height: 120px;

}

/* 回到顶部小标题设置 */
.leftBars {
  right: 50px;
  bottom: 20px;
}

.mod-sidebar {
  display: block;
  width: 60px;
  position: fixed;
  z-index: 9998;
}

.mod-sidebar li {
  width: 60px;
  height: 48px;
  background-color: #165B9F;
  margin-bottom: 1px;
  position: relative;
  border: 1px solid #165B9F;
}

.mod-sidebar li a {
  color: #fff;
}

.sideMenu2 {
  width: 60px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  display: block;
  text-align: center;
  margin: 0 auto;
  background: url("");
  
}
