label {
  font-size:16px;
}
.mt64 {
  margin-top: 64px;
  
}
.mb32 {
  margin-bottom: 32px;
}
.layui-table {
  margin-top: 0;
  color:#222;
}
.mr20 {
  margin-right: 20px;
}
.styleNone td {
  border-style: none;
}
.layui-table td {
  font-size:16px;
}
.layui-form-label {
  padding: 0;
  width: 100px;
}
.textLeft {
  text-align: left
}
.textRight {
  text-align: right;
}
