.sub_content_img_style>.clearfix>li {
  float: left;
  margin-right: 18px;
  margin-bottom: 12px;
}
.sub_content_img_style>.clearfix>li:nth-child(4n) {
  
  margin-right: 0;
}
.sub_content_img_style>.clearfix>li{
  width: 276px;
  height: 180px;
}
.sub_content_img_style>.clearfix>li>a>img {
  width: 276px;
  height: 180px;
}