@charset "utf-8";
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input{margin:0;padding:0;-webkit-text-size-adjust:none}
div{text-align:left}
a img{border:0}

ul, ol, li{list-style-type:none;vertical-align:0}
a{outline-style:none;color:#535353;text-decoration:none}
a:hover{color:#D40000; text-decoration:none}

/* 效果CSS开始 */
.mod18{width:800px;position:relative;margin:0 auto;}
.mod18 .btn{position:absolute;cursor:pointer;z-index:99;font-size:50px;font-weight:bold;}
.mod18 .prev{left:10px;background:url(../../img/rwhj/prevBtn.png) no-repeat;}
/* 人文环境箭头 */
.mod18 #prevTop,.mod18 #nextTop{top:300px;width:32px;height:48px;}
.mod18 #prev,.mod18 #next{bottom:40px;width:10px;height:16px;}
.mod18 #prev {left: 96px;}
.mod18 #next {right:96px;}
.mod18 #prevTop{background:url(../../img/rwhj/prevBtnTop.png) 0 0 no-repeat;}
.mod18 #nextTop{background:url(../../img/rwhj/nextBtnTop.png) 0 0 no-repeat;}
/* 党团班建设 */
.mod18 #dtbjsprevTop,.mod18 #dtbjsnextTop{top:300px;width:32px;height:48px;}
.mod18 #dtbjsprev,.mod18 #dtbjsnext{bottom:40px;width:10px;height:16px;}
.mod18 #dtbjsprev {left: 96px;}
.mod18 #dtbjsnext {right:96px;}
.mod18 #dtbjsprevTop{background:url(../../img/rwhj/prevBtnTop.png) 0 0 no-repeat;}
.mod18 #dtbjsnextTop{background:url(../../img/rwhj/nextBtnTop.png) 0 0 no-repeat;}
/* 社团活动 */
.mod18 #stwhprevTop,.mod18 #stwhnextTop{top:300px;width:32px;height:48px;}
.mod18 #stwhprev,.mod18 #stwhnext{bottom:40px;width:10px;height:16px;}
.mod18 #stwhprev {left: 96px;}
.mod18 #stwhnext {right:96px;}
.mod18 #stwhprevTop{background:url(../../img/rwhj/prevBtnTop.png) 0 0 no-repeat;}
.mod18 #stwhnextTop{background:url(../../img/rwhj/nextBtnTop.png) 0 0 no-repeat;}
/* 优秀个人 */
.mod18 #yxgrprevTop,.mod18 #yxgrnextTop{top:300px;width:32px;height:48px;}
.mod18 #yxgrprev,.mod18 #yxgrnext{bottom:40px;width:10px;height:16px;}
.mod18 #yxgrprev {left: 96px;}
.mod18 #yxgrnext {right:96px;}
.mod18 #yxgrprevTop{background:url(../../img/rwhj/prevBtnTop.png) 0 0 no-repeat;}
.mod18 #yxgrnextTop{background:url(../../img/rwhj/nextBtnTop.png) 0 0 no-repeat;}
/* 优秀团队 */
.mod18 #yxtdprevTop,.mod18 #yxtdnextTop{top:300px;width:32px;height:48px;}
.mod18 #yxtdprev,.mod18 #yxtdnext{bottom:40px;width:10px;height:16px;}
.mod18 #yxtdprev {left: 96px;}
.mod18 #yxtdnext {right:96px;}
.mod18 #yxtdprevTop{background:url(../../img/rwhj/prevBtnTop.png) 0 0 no-repeat;}
.mod18 #yxtdnextTop{background:url(../../img/rwhj/nextBtnTop.png) 0 0 no-repeat;}
/* 评优评先 */
.mod18 #pypxprevTop,.mod18 #pypxnextTop{top:300px;width:32px;height:48px;}
.mod18 #pypxprev,.mod18 #pypxnext{bottom:40px;width:10px;height:16px;}
.mod18 #pypxprev {left: 96px;}
.mod18 #pypxnext {right:96px;}
.mod18 #pypxprevTop{background:url(../../img/rwhj/prevBtnTop.png) 0 0 no-repeat;}
.mod18 #pypxnextTop{background:url(../../img/rwhj/nextBtnTop.png) 0 0 no-repeat;}
/* 才艺展示 */
.mod18 #cyzsprevTop,.mod18 #cyzsnextTop{top:300px;width:32px;height:48px;}
.mod18 #cyzsprev,.mod18 #cyzsnext{bottom:40px;width:10px;height:16px;}
.mod18 #cyzsprev {left: 96px;}
.mod18 #cyzsnext {right:96px;}
.mod18 #cyzsprevTop{background:url(../../img/rwhj/prevBtnTop.png) 0 0 no-repeat;}
.mod18 #cyzsnextTop{background:url(../../img/rwhj/nextBtnTop.png) 0 0 no-repeat;}
.mod18 .next{right:10px;background:url(../../img/rwhj/nextBtn.png) no-repeat;}
.mod18 li{float:left;}
.mod18 .cf li{position:relative;color:#fff;}
.mod18 .cf a{display:block;width:800px;height:533px;position:absolute;color:#fff;}
/*padding-left:75px; padding-right:76px;   */
.mod18 .picBox{width:800px; height:533px; position:relative;overflow:hidden; padding-top:40px;}
.mod18 .picBox ul{width:800px;height:533px;position:absolute; left:0;}
/* padding-left:75px; */
.mod18 .picBox li{display:block; width:800px;height:533px;}

.mod18 .picBox li>a>img{display: block;width: 800px;height: 533px;transition: 2s linear;}
.mod18 .listBox{width:642px;height:100px;margin:0 auto;position:relative; padding-top:15px;overflow:hidden;}
.mod18 .listBox ul{height:88px;position:absolute;}
.mod18 .listBox li{width:127px;height:90px;cursor:pointer;position:relative; }
.mod18 .listBox li>img{display: block;width: 127px;height:90px;transition: 2s}
.mod18 .listBox li i{display:none;}
.mod18 .listBox li a{display:block;width:108px;height:77px;}
.mod18 .listBox img{border:7px solid #fff;}
.mod18 .listBox .on img{border:7px solid #FFF; }
.mod18 .listBox .on{background:url(../../img/rwhj/img_bg.jpg) center top no-repeat;}
.mod18 .listBox .on i{display:block;}