@charset "utf-8";

body {
  min-width: 1250px;
}

/*tab切换样式*/
.tab_active {
  /* background: linear-gradient(#CAE5FF, #fff) */
  background: url(../../img/line_1.png) repeat;
}
/* tab切换类 */
.sub_tab {																	
  background-color: #165B9F !important;
  color:#FFF !important;
}


/*工具类名*/
.lsyg_fl {
  float: left;
}

.lsyg_rl {
  float: right;
}

.content_item_active {
  display: block !important;
}

.item_sel_active {
  background-color: #fff;
}

.menu_lsyg_wrap {
  width: 1200px;
}

/*banner 高度*/
.menu_lsyg .banner {
  height: 520px;
  line-height: 520px;
  text-align: center;
  background: url("../../img/banner2.png")
}

/* tab栏选项 */
.menu_lsyg .content {
  margin: 0 auto;
}

.menu_lsyg .title {
  height: 50px;
  border-bottom: 1px dashed #AAAAAA;
  text-align: center;
}

.menu_lsyg .title ul {
  display: block;
  height: 40px;
}

.menu_lsyg .title li {
  display: block;
  height: 40px;
  line-height: 40px;
  float: left;
  min-width: 84px;
  font-size: 16px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

/*tab栏内容_历史沿革*/
.menu_lsyg .content_item {
  padding-top: 20px;
  position: relative;

}

.menu_lsyg .content_item .item {
  
  display: none;
}

.menu_lsyg .content_item .item_title {
  height: 20px;

}

.menu_lsyg .content_item .item_title span {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  border-left: 4px solid #165B9F;
  padding-left: 15px;
}

.menu_lsyg .content_item .item .item_sel {
  background: #E6F2FC;
  margin-top: 52px;
  position: relative;
  height: 40px;
  padding: 4px 72px 0;
  overflow: hidden;
}

.menu_lsyg .content_item .item .item_sel ul {
  display: block;

}

.menu_lsyg .content_item .item .item_sel li {
  float: left;
  display: block;
  text-align: center;
  width: 80px;
  height: 36px;
  line-height: 36px;
}

.menu_lsyg .content_item .item .item_sel>div {
  position: absolute;
  height: 36px;
  width: 36px;
  background-color: #fff;
  line-height: 36px;
  text-align: center;

}

.menu_lsyg .content_item .item .item_sel .left_arrow {
  left: 15px;
  bottom: 3px;
  color: #165B9F;
  font-size: 24px;
  z-index: 999;


}
.menu_lsyg .content_item .item .item_sel .left_arrow:hover {
  color:#FFF;
  background-color: #165B9F;
  cursor: pointer;
}
.menu_lsyg .content_item .item .item_sel .right_arrow {
  right: 15px;
  bottom: 3px;
  color: #165B9F;
  font-size: 24px;
  z-index: 999;

}
.menu_lsyg .content_item .item .item_sel .right_arrow:hover {
  color:#FFF;
  background-color: #165B9F;
  cursor: pointer;
}
.menu_lsyg .content_item .item .item_context {
  margin-top: 40px;
}

.menu_lsyg .content_item .item .item_context .context_item {
  display: none;
  margin-bottom: 10px;
}

.menu_lsyg .content_item .item .item_context .context_item .lsyg_rl {
  width: 825px;
}

.menu_lsyg .content_item .item .item_context .context_item .lsyg_rl a>h2 {
  font-size: 24px;
  color: #165B9F;
}

.menu_lsyg .content_item .item .item_context .context_item .lsyg_rl a>span {
  display: block;
  font-size: 14px;
  color: #000;
  margin-top: 40px;
  line-height: 30px;
}

.menu_lsyg .content_item .item .item_context .context_item .lsyg_fl {
  width: 324px;
  height: 220px;
}
.menu_lsyg .content_item .item .item_context .context_item .lsyg_fl>img{
  display: block;
  width: 324px;
  height: 220px;
}
.lsyg_content {
  height: 220px;
  margin-bottom: 40px;
  margin-left: 360px;
}
.lsyg_content h2 {
  font-size: 24px;
  margin-bottom: 24px;
  color:#165B9F;
}
.lsyg_content span {
  font-size: 14px;
  color:#222;
}
/*tab栏内容_院情统计_发展定位*/
.menu_lsyg .content_item .item .item_article {
  margin-top: 40px;
  font-size: 16px;
  color: #5E6267;
  min-height:500px;
}

.menu_lsyg .content_item .item .item_article p {
  margin-bottom: 30px;
   
}

/*
  tab栏内容_组织机构
*/
.menu_lsyg .content_item .item .left_menu {
  width: 190px;
  min-height: 460px;
  background: url(../../img/line_2.png) repeat-x;
  font-weight: blod;
  padding: 25px;
}

.menu_lsyg .content_item .item .left_menu span {
  display: block;
  height: 65px;
  line-height: 65px;
  font-size: 20px;
  color: #165B9F;
  border-bottom: 1px dashed #AAAAAA;

}

.menu_lsyg .content_item .item .left_menu ul>li {
  display: block;
  height: 35px;
  padding: 15px 0;
  color: #2E3740;
  font-weight: 400;
  font-size: 18px;
}

/*
*tab栏内容_组织机构_党政领导
*/
.menu_lsyg .content_item .item .item_zzjg_sub {
  width: 860px;
  padding: 0 20px;
  background: url(../../img/line_3.png) repeat-x;
  transition: all 0.3 ease 0.3s ;
}

.menu_lsyg .content_item .item .item_zzjg_sub .zzjg_sub {
  display: none;
}
.menu_lsyg .content_item .item .item_zzjg_sub .zzjg_sub .zzjq_sub_title {
  height: 60px;
  line-height: 60px;
}

.menu_lsyg .content_item .item .item_zzjg_sub .zzjg_sub .zzjq_sub_title span {
  font-size: 18px;
  font-weight: blod;
  color: #165B9F;
}

.menu_lsyg .content_item .item .item_zzjg_sub .zzjg_sub .zzjq_sub_title i {
  font-size: 14px;
  font-style: normal;
  color: #222222;
}

.menu_lsyg .content_item .item .item_zzjg_sub .zzjg_sub .zzjq_sub_content {
  width: 860px;
  height: 180px;
  margin-bottom: 20px;
}

.menu_lsyg .content_item .item .item_zzjg_sub .zzjg_sub .zzjq_sub_context {
  width: 674px;
  height: 130px;
  padding: 25px;
  background-color: #f0f0f0;
}

.menu_lsyg .content_item .item .item_zzjg_sub .zzjg_sub .zzjq_sub_context span {
  font-size: 16px;

}

.menu_lsyg .content_item .item .item_zzjg_sub .zzjg_sub .zzjq_sub_context p {
  margin-top: 14px;
  color: #666666;
}

.menu_lsyg .content_item .item .item_zzjg_sub .zzjg_sub .zzjq_sub_context a {
  display: block;
  margin-top: 24px;
  color: #666666;
  font-size: 16px;
}

.menu_lsyg .content_item .item .item_zzjg_sub .zzjg_sub .zzjq_sub_picture {
  width: 136px;
  height: 180px;
  background-size: 100% 100%;

}
.menu_lsyg .content_item .item .item_zzjg_sub .zzjg_sub .zzjq_sub_picture img {
  display: block;
  width: 100%;
  height: 100%;
}
/* 机构设置*/

#zzjg_sub_b .zzjq_sub_title {
  border-bottom: 1px dashed #FFF;
  margin-bottom: 20px;
}
#zzjg_sub_b .zzjq_sub_b_content {
  width: 860px;
  background-color: #fff;
}
#zzjg_sub_b .zzjq_sub_b_content .zzjq_sub_b_c_t {
  width: 830px;
  padding: 15px 15px 0 15px;
  margin:0 auto;
}
#zzjg_sub_b .zzjq_sub_b_content .zzjq_sub_b_c_t span {
  display:block;
  width: 90px;
  text-align:center;
  border-left: 4px solid #165B9F;
  margin-bottom: 15px;
  font-size:14px;
  color:#222;

}
#zzjg_sub_b .zzjq_sub_b_content .zzjq_sub_b_c_t table {
  width: 830px;
  border:none;
  text-align: left;
  margin-bottom: 10px;
}


#zzjg_sub_b .zzjq_sub_b_content .zzjq_sub_b_c_t table th {
  border:none;
}

#zzjg_sub_b .zzjq_sub_b_content .zzjq_sub_b_c_t table tr {
  height: 40px;
}
#zzjg_sub_b .zzjq_sub_b_content .zzjq_sub_b_c_t table td {
  font-size:14px;
  padding:10px;
}
#zzjg_sub_b .zzjq_sub_b_content .zzjq_sub_b_c_t table td a {
  text-decoration: none;
  color:#222;
}

#zzjg_sub_b .zzjq_sub_b_content .zzjq_sub_b_c_t table td a:hover {
  color:#165B9F;
}
#zzjg_sub_b .zzjq_sub_b_content .zzjq_sub_b_c_t table th {
  font-size:14px;
  padding:10px;
}
#zzjg_sub_c_2_1 .sub_c_1_tab>ul>li:hover{
  cursor: pointer;
}
#zzjg_sub_c_1 .sub_c_1_tab>ul>li:hover{
  cursor: pointer;
}
#yybb_sub_c_2 .sub_c_1_content_item_list:hover{
  
  cursor: pointer;
}
#yybb_sub_c_2 .sub_c_1_content_item_list:hover span{
  color:#165B9F;
}

#qtdw_sub_c_2>ul>li:hover {
  color:#165B9F;
  cursor: pointer;
}

/*培养单位*/
#zzjg_sub_c_ul {
  height: 104px;
  width: 210px;
  margin: 0 auto;
  /* background: linear-gradient(#CAE5FF, #fff); */
  background: url(../../img/line_2.png) repeat-x;
  background-size: 100% 100%;
  position: absolute;
  left: -13px;
  top: 60px;
  display:none;
  
}

#zzjg_sub_c_ul li {
  height: 50px;
  padding: 0;
  width: 200px;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;

}

#zzjg_sub_c_sub {
  position: relative;
}

/*向又三角*/
/*向右*/
#zzjg_sub_c_sub span{
  width: 0;
  height: 0;
  border:10px solid ;
  border-color:  #222222 transparent  transparent  transparent;
  position: absolute;
  left: 150px;
  top: 18px;
  margin-top: 5px; 
}


/*委员会*/
#zzjg_sub_d .zzjq_sub_title {
  border-bottom: 1px dashed #FFF;
  margin-bottom: 20px;
}

#zzjg_sub_d .zzjq_wyh_context {
  width: 860px;
  background: #fff;
  margin: 0 auto;
  height: 100%;
}

#zzjg_sub_d .zzjq_wyh_context .zzjq_wyh_header {
  background-color: #C4E2FF;
  height: 40px;
  text-align: left;
  font-size: 14px;
  color: #222222;
}

#zzjg_sub_d .zzjq_wyh_context .zzjq_wyh_header .lsyg_fl {
  width: 198px;
  height: 38px;
  padding-left: 20px;
  line-height: 38px;
}

#zzjg_sub_d .zzjq_wyh_context .zzjq_wyh_header .lsyg_rl {
  width: 608px;
  height: 38px;
  padding-left: 20px;
  line-height: 38px;
}

#zzjg_sub_d .zzjq_wyh_context .zzjq_wyh_content {
  width: 860px;
  height: 40px;
  line-height: 40px;
  text-align: left;
}

#zzjg_sub_d .zzjq_wyh_context .zzjq_wyh_content .lsyg_fl {
  width: 198px;
  height: 38px;
  line-height: 38px;
  font-size: 12px;
  color: #222;
  padding-left: 20px;
  border-bottom: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-left: 1px solid #EEE;

}
#zzjg_sub_d .zzjq_wyh_context .zzjq_wyh_content a {
  color:#222;
}
#zzjg_sub_d .zzjq_wyh_context .zzjq_wyh_content a:hover {
  color:#165B9F;
}

#zzjg_sub_d .zzjq_wyh_context .zzjq_wyh_content .lsyg_rl {
  width: 619px;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #EEE;
  border-right: 1px solid #EEE;
  font-size: 12px;
  padding-left: 20px;
  float: left;
  text-align: left;
}
/*研究本部*/
#zzjg_sub_c_1 .zzjq_sub_title {
  border-bottom: 1px dashed #FFF;
  margin-bottom: 20px;
}
#zzjg_sub_c_1 .zzjq_sub_c_1_content .sub_c_1_tab li {
  float: left;
  display:block;
  width: 120px;
  height: 36px;
  line-height: 36px;
  text-align:center;
  color:#222;
  font-size:14px;
}
.sub_c1_tab_def_hover{
  background-color: #165B9F;
  color:#FFF !important;
}
#zzjg_sub_c_1 .zzjq_sub_c_1_content  {
  width: 840px;
  background-color: #fff;
  padding-left: 20px;
  padding-top: 20px;
  
}
#zzjg_sub_c_1 .zzjq_sub_c_1_content .sub_c_1_content {
  margin-top: 15px;
}
#zzjg_sub_c_1 .zzjq_sub_c_1_content .sub_c_1_content .sub_c_1_content_item {
  display:none;
  width:810px;
  
}
/*研究室教育简介*/
#zzjg_sub_c_1 .zzjq_sub_c_1_content .sub_c_1_content .sub_c_1_content_item .sub_c_1_content_item_yjsjyjj p {
  line-height: 18px;
  font-size: 12px;
  color:#666;
}
#zzjg_sub_c_1 .zzjq_sub_c_1_content .sub_c_1_content .sub_c_1_content_item .sub_c_1_content_item_yjsjyjj>h5 {
  padding: 20px 0 ;
}
/*招生工作*/
#zzjg_sub_c_1 .zzjq_sub_c_1_content .sub_c_1_content .sub_c_1_content_item .sub_c_1_content_item_list {
  width: 770px;
  height: 20px;
  padding: 10px 20px;
  color:#222;
}
#zzjg_sub_c_1 .zzjq_sub_c_1_content .sub_c_1_content .sub_c_1_content_item .sub_c_1_content_item_list:nth-of-type(odd) {
  background-color:#E2F1FF;
}
#zzjg_sub_c_1 .zzjq_sub_c_1_content .sub_c_1_content .sub_c_1_content_item .sub_c_1_content_item_list:nth-of-type(even) {
  background-color:#F2F9FF;
}
#zzjg_sub_c_1 .zzjq_sub_c_1_content .sub_c_1_content .sub_c_1_content_item .sub_c_1_content_item_list span {
  font-size:14px;
}
/* 研院本部详情 */
#zzjg_sub_c_detail .zzjq_sub_title {
  border-bottom: 1px dashed #FFF;
  margin-bottom: 20px;
}
#zzjg_sub_c_detail .zzjq_sub_c_1_content {
  width: 840px;
  
  background-color: #fff;
  padding-left: 20px;
  padding-top: 20px;
}
/* 其他单位详情 */
#zzjg_sub_qtdw_detail .zzjq_sub_title {
  border-bottom: 1px dashed #FFF;
  margin-bottom: 20px;
}
#zzjg_sub_qtdw_detail .zzjq_sub_c_1_content {
  width: 840px;
  background-color: #fff;
  padding-left: 20px;
  padding-top: 20px;
}
/*培养单位---其他单位*/
#zzjg_sub_c_2 .zzjq_sub_title {
  border-bottom: 1px dashed #FFF;
  margin-bottom: 20px;
}
#zzjg_sub_c_2 .zzjq_sub_c_2_content {
  width: 820px;
  padding: 40px 0 40px 40px;
  background-color: #fff;
}
#zzjg_sub_c_2 .zzjq_sub_c_2_content li {
  display:block;
  width: 240px;
  height: 56px;
  line-height: 56px;
  background-color:#D2E9FF;
  color:#165B9F;
  float: left;
  margin-right: 32px;
  margin-bottom: 32px;
  text-align: center;
  font-size: 14px;
  border-top: 4px solid;
  border-color:#D2E9FF;
}
#zzjg_sub_c_2 .zzjq_sub_c_2_content li:hover {
  border-color:#165B9F;
  cursor: pointer;
}
/*培养单位子集菜单*/
.zzjg_sub_c_2_0 .zzjq_sub_title {
  border-bottom: 1px dashed #FFF;
  margin-bottom: 20px;
}
.zzjg_sub_c_2_0 .zzjq_sub_c_1_content .sub_c_1_tab li {
  float: left;
  display:block;
  width: 120px;
  height: 36px;
  line-height: 36px;
  text-align:center;
  color:#222;
  font-size:14px;
}
.zzjg_sub_c_2_0 .zzjq_sub_c_1_content .sub_c_1_tab li:hover{
  
  cursor: pointer;
  
}

.zzjg_sub_c_2_0 .zzjq_sub_c_1_content  {
  width: 820px;
  min-height: 458px;
  background-color: #fff;
  padding-left: 20px;
  padding-top: 20px;
  
}
.zzjg_sub_c_2_0 .zzjq_sub_c_1_content .sub_c_1_content {
  margin-top: 15px;
}
.zzjg_sub_c_2_0 .zzjq_sub_c_1_content .sub_c_1_content .sub_c_1_content_item {
  display:none;
  width:810px;
  min-height: 400px;
}
/*研究室教育简介*/
.zzjg_sub_c_2_0 .zzjq_sub_c_1_content .sub_c_1_content .sub_c_1_content_item .sub_c_1_content_item_yjsjyjj p {
  line-height: 18px;
  font-size: 12px;
  color:#666;
}
.zzjg_sub_c_2_0 .zzjq_sub_c_1_content .sub_c_1_content .sub_c_1_content_item .sub_c_1_content_item_yjsjyjj>h5 {
  padding: 20px 0 ;
}
/*招生工作*/
.zzjg_sub_c_2_0 .zzjq_sub_c_1_content .sub_c_1_content .sub_c_1_content_item .sub_c_1_content_item_list {
  width: 770px;
  height: 20px;
  padding: 10px 20px;
  color:#222;
}
.zzjg_sub_c_2_0 .zzjq_sub_c_1_content .sub_c_1_content .sub_c_1_content_item .sub_c_1_content_item_list:nth-of-type(odd) {
  background-color:#E2F1FF;
}
.zzjg_sub_c_2_0 .zzjq_sub_c_1_content .sub_c_1_content .sub_c_1_content_item .sub_c_1_content_item_list:nth-of-type(even) {
  background-color:#F2F9FF;
}
.zzjg_sub_c_2_0 .zzjq_sub_c_1_content .sub_c_1_content .sub_c_1_content_item .sub_c_1_content_item_list span {
  font-size:14px;
}
/* 培养单位详情样式调整 */
#zzjg_sub_c_detail .sub_detail_content h3{
  font-size:16px;
  margin-bottom: 10px;
  text-align: center;
}
#zzjg_sub_c_detail .sub_detail_content>p>img {
  width: 100%;
}
#zzjg_sub_c_detail .sub_detail_content .sub_date{
  
  font-size:14px;
  color:#666;
  margin-bottom: 10px;
}
#zzjg_sub_c_detail .sub_detail_content p span img {
  display: block;
  max-width: 830px;
}
#zzjg_sub_c_detail .sub_detail_content .sub_date i {
  font-style:normal;
}
#zzjg_sub_c_detail .sub_detail_content p{
  font-size:12px;
  color:#222;
  text-align: left;

}
#zzjg_sub_qtdw_detail .sub_detail_content h3{
  font-size:16px;
  margin-bottom: 10px;
  text-align: center;
}
#zzjg_sub_qtdw_detail .sub_detail_content .sub_date{
  
  font-size:14px;
  color:#666;
  margin-bottom: 10px;
  text-align: center;
}
#zzjg_sub_qtdw_detail .sub_detail_content .sub_date i{
  font-style:normal;
}
#zzjg_sub_qtdw_detail .sub_detail_content p{
  font-size:12px;
  color:#222;
  
}
.yybbTrigger:hover {
  cursor: pointer;
  color:#165B9F !important;
}

.pydwTrigger:hover {
  cursor: pointer;
  color:#165B9F !important;
}
/*
面包屑样式
*/
.zzjg_sub dl>a{
  color:#222;
}
.zzjg_sub dl>a:hover {
  color:#165B9F;
}
.item dl>a{
  color:#222;
}
.item dl>a:hover {
  color:#165B9F;
}
#lsyg_timetameUL{
  position: absolute;
  overflow: hidden;
}
  /*
清除浮动
*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}