 @charset "utf-8";


 body {
   min-width: 1250px;
 }

 .page {
   list-style: none;
   margin: 0 auto;
   width: 400px;
   height: 40px;
   overflow: hidden;
   padding-left: 210px;
 }

 .page>li {
   float: left;
   padding: 6px 10px;
   cursor: pointer;
 }

 .page .pageItem {
   border: solid thin #EEEEEE;
   margin: 5px;
 }

 .page .pageItemActive {
   border: solid thin #165B9F;
   margin: 5px;
   background-color: #165B9F;
   color: white;
 }

 .page .pageItem:hover {
   border: solid thin #165B9F;
   background-color: #165B9F;
   color: white;
 }

 .page .pageItemDisable {
   border: solid thin #EEEEEE;
   margin: 5px;
   background-color: #EEEEEE;
 }

 /* .demoContent{height: 240px;} */
 .demoContent li {
   height: 60px;
   padding: 18px 0;
 }

 .demoContent li a {
   display: block;
 }

 /*banner 高度*/
 .banner {
   height: 320px;
   /* line-height: 520px; */
   text-align: center;
   background: url("../../img/banner_15.png") center center;
 }

 .news_content {
   height: 470px;
   width: 1200px;
   margin: 0 auto;
   margin-top: 40px;

 }

 .news_item li {
   float: left;
   height: 30px;
   margin-right: 50px;
   margin-bottom: 24px;
 }

 .news_item li:nth-child(2n) {
   margin-right: 0px;
 }

 .news_content .news_item .items-list {
   width: 490px;

 }

 .news_item li a {
   display: inline-block;
 }

 .news_item li a .date {
   /* min-width: 72px; */
   width:72px;
   height: 30px;
   float: left;
   background-color: #165B9F;
   color: #fff;
   font-size: 12px;
   margin-right: 16px;
 }

 .news_item li a .title {
   width: 480px;
   height: 30px;
   line-height: 30px;
   font-size: 14px;
   color: #222;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   font-weight: bold;
   float: left;
 }

 .news_titile {
   border-bottom: 1px dashed #aaa;
   position: relative;
   padding-bottom: 24px;

 }

 .news_titile h2 {
   border-left: 4px solid #165B9F;
   padding-left: 12px;
 }

 .news_titile span {
   position: absolute;
   right: 0;
   bottom: 24px;
 }

 .news_content .news_context {
   margin-top: 40px;
 }

 .news_content .news_context .news_item {

   height: 300px;
 }
 .news_titile span{
   font-size:14px;
 }
 .news_titile span a {
   color:#222
 }
 .news_titile span a:hover {
  color:#165B9F;

}
 /*
清除浮动
*/
 .clearfix:before,
 .clearfix:after {
   content: "";
   display: table;
 }

 .clearfix:after {
   clear: both;
 }

 .clearfix {
   *zoom: 1;
 }