/* 内容样式 */
.wrap{
  width: 1200px;
  margin: 0 auto;
}
.TzContent {
  margin-top: 40px;
  min-height:1000px;
}
/* 两侧盒子和标题样式 */
.TzContent .leftContent , .TzContent .rightContent{
  width: 560px;
  
}
.leftContent .title ,.rightContent .title {
  height: 44px;
  border-bottom: 1px dashed #AAA;

}
.leftContent .leftTitle ,.rightContent .leftTitle{
  width: 40%;
}
.leftContent .leftTitle i,.rightContent .leftTitle i{
  margin-right: 12px;
  margin-top: 4px;
  display: block;
  height: 20px;
  width: 4px;
  background-color:#165B9F;
  float: left;
}
.leftContent .leftTitle h2,.rightContent .leftTitle h2{
  font-size:20px;
}
.title .bread span>a{
  font-size:14px;
  color:#888;
}
/* 左侧图片样式 */
.conPic {
  height: 412px;
  background-color: #F5FAFF;
  margin-top: 24px;
  padding: 12px 12px 0;
}
.conPic img {
  display: block;
  width: 536px;
  height: 346px;
  margin-bottom: 24px;
}
.conPic span{
  padding-left: 12px;
  display: block;
  font-size: 16px;
  color:#222;
  font-weight: 700;
}

/* 右侧通知公告列表样式 */
.rightContent .advDetail{
  height:424px;
  /* background-color:#3498db; */
  position: relative;
}
.advDetail {
  margin-top: 24px;
  

}
.advDetail .titleUl {
  margin-bottom: 40px;
}
.advDetail .titleUl>li {
  display: block;
  position: relative;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size:20px;
  width: 88px;
  color:#222;
  text-align: left;
  /* margin-right: 24px; */
  padding-left: 24px;
}
.advDetail .titleUl>li>i{
  display: inline-block;
  width: 2px;
  height: 18px;
  background-color: #222;
  position: absolute;
  right: 0;
  top: 4px;
  
}
.advDetail .titleUl>li:hover {
  /* animation:colorChange 1s linear; */
  cursor: pointer;
}
.backgroudColorTab {
  background: #165B9F;
  color:#FFF !important;
  box-shadow: #165B9F -3px 2px 7px;
}

.advList .date {
  display: inline-block;
  width: 72px;
  height: 30px;
  background-color: #165B9F;
  text-align: center;
  line-height: 30px;
  color:#FFF;
  font-size:12px;
  padding: 0 5px;
  margin-right: 24px;
  margin-bottom: 24px;
  font-weight: bold;
}
.advList .itemTitle {
  display: inline-block;
  font-size: 14px;
  color:#222;
  font-weight: bold;
}
#page {
  position: absolute;
  bottom: 12px;
}
/* 底部图片 */

.pictrues {
 margin-top: 150px;

}
.pictrues .titleUl>li {
  float: left;
  display: block;
  width: 270px;
  height: 226px;
  margin-right: 40px;
  margin-bottom: 40px;
  transition: all 2s;
}
.pictrues .titleUl > li>a {
  display: block;
  width: 270px;
  height: 226px;
}
.pictrues .titleUl > li>a>img {
  display: block;
  width: 270px;
  height: 186px;
}
.pictrues .titleUl > li>a>span {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 0;

}
.pictrues .titleUl>li:nth-child(4n){
  margin-right: 0;
}
.pictrues .titleUl>li span:hover{
  color: #165B9F;
  cursor: pointer;
}
.pictrues .titleUl>li span {
  display: block;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size:18px;
  color:#000;
  bottom: 0;
  margin-top: 158px;
}

.page .pageItemDisable,.page .pageItem {
  background-color: #fff;
}
/* 回到顶部小标题设置 */
.leftBars {
  right: 50px;
  bottom: 20px;
}

.mod-sidebar {
  display: block;
  width: 60px;
  position: fixed;
  z-index: 9998;
}

.mod-sidebar li {
  width: 60px;
  height: 48px;
  background-color: #165B9F;
  margin-bottom: 1px;
  position: relative;
  border: 1px solid #165B9F;
}

.mod-sidebar li a {
  color: #fff;
}

.sideMenu2 {
  width: 60px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  display: block;
  text-align: center;
  margin: 0 auto;
  background: url("");
  
}

@keyframes colorChange {
  from {
    color: #F3F9FF;
  }

  to {
    color: #104E8C;
  }
}
@keyframes backgroundColorChange {
  from {
    background: #FFF;
  }

  to {
    background: #104E8C;
  }
}
